<div class="submenu">
  <!-- Menú de selección de laboratorio -->
  <ul>
    <li
      *ngFor="let lab of laboratorios"
      [class.active]="laboratorioSeleccionado?.id === lab.id"
      (click)="seleccionarLaboratorio(lab)"
    >
      {{ lab.nombre }}
    </li>
  </ul>
</div>

<!-- Contenido dinámico según la opción seleccionada -->
<div class="contenido">
  <ng-container *ngIf="laboratorioSeleccionado">
    <app-horario-reservas
      [dataset]="reservas"
      [idLaboratorio]="laboratorioSeleccionado.id"
    >
    </app-horario-reservas>
  </ng-container>
</div>
