table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #121212;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  text-align: center;
  min-width: 120px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

th {
  background-color: #1a1a1a;
  color: #e0e0e0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

td {
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  color: #d0d0d0;
}

.reservado {
  color: white;
  padding: 8px;
  border-radius: 6px;
  display: inline-block;
  width: 100px;
  font-weight: bold;
  text-transform: capitalize;
}

.clase {
  background-color: #444444;
}

.practica {
  background-color: #5e345e;
}

.examen {
  background-color: #7b2d2d;
}

.normal {
  background-color: #1f4037;
}

.especial {
  background-color: #5e4322;
}

.disponible {
  background-color: #222222;
  color: #cccccc;
  padding: 8px;
  border-radius: 6px;
  display: inline-block;
  width: 100px;
  font-weight: bold;
  opacity: 0.8;
}

.submenu ul {
  list-style: none;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.submenu li {
  background-color: #1a1a1a;
  color: #e0e0e0;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
  border: 1px solid #292929;
}

.submenu li:hover {
  background-color: #292929;
  transform: scale(1.05);
  color: #ffffff;
}

.submenu li.active {
  background-color: #3a3a3a;
  font-weight: bold;
  transform: scale(1.08);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    width: 100%;
    text-align: center;
  }
}
